# Homework #2

- Date: 2024.03.17
- Due Date: 2024.04.07

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [59]:
data=pd.read_csv("../Diabetes Classification.csv")
data

,Unnamed: 0,Age,Gender,BMI,Chol,TG,HDL,LDL,Cr,BUN,Diagnosis
0,0,50,F,24,4.20,0.90,2.40,1.40,46.0,4.70,0
1,1,26,M,23,3.70,1.40,1.10,2.10,62.0,4.50,0
2,2,33,M,21,4.90,1.00,0.80,2.00,46.0,7.10,0
3,3,45,F,21,2.90,1.00,1.00,1.50,24.0,2.30,0
4,4,50,F,24,3.60,1.30,0.90,2.10,50.0,2.00,0
...,...,...,...,...,...,...,...,...,...,...,...
5127,5127,54,M,23,5.00,1.50,1.24,2.98,77.0,3.50,1
5128,5128,50,F,22,4.37,2.09,1.37,2.29,47.3,4.40,1
5129,5129,67,M,24,3.89,1.38,1.14,2.17,70.6,4.73,1
5130,5130,60,F,29,5.91,1.29,1.73,2.85,50.2,7.33,1
5131,5131,37,M,34,5.42,2.66,1.08,2.87,75.5,4.61,1

[함께해보기] "Diabetes Classificiation.csv" 파일을 불러오고, 남성과 여성의 평균 나이를 출력하세요.
- 남성 최대, 최소 나이도 구해보세요
- 여성 최대, 최소 나이도 구해보세요

In [42]:
D_male = data[data['Gender']=="M"]
D_female = data[data['Gender']=="F"]

Mean_M_Age = np.mean(D_male['Age'])
Mean_F_Age = np.mean(D_female['Age'])
Max_M_Age = np.max(D_male['Age'])
min_M_Age = np.min(D_male['Age'])
Max_F_Age = np.max(D_female['Age'])
min_F_Age = np.min(D_female['Age'])

In [11]:
print("남자평균나이")
print(Mean_M_Age)
print("여자평균나이")
print(Mean_F_Age)

print("남자최대나이")
print(Max_M_Age)
print("여자최대나이")
print(Max_F_Age)

print("남자최소나이")
print(min_M_Age)
print("여자최소나이")
print(min_F_Age)

남자평균나이
48.84244471744472
여자평균나이
49.1344
남자최대나이
91
여자최대나이
93
남자최소나이
22
여자최소나이
20

[문제1] 30대 이상 여성의 평균 BMI와 Chol 수치는 얼마인가요?

In [7]:
Mean_F_BMI = np.mean(D_female['BMI'])
Mean_F_Chol = np.mean(D_female['Chol'])
print("여자평균 BMI " + str(Mean_F_BMI))
print("여자평균 Chol " + str(Mean_F_Chol))

여자평균 BMI 23.768533333333334
여자평균 Chol 4.940134939733334

[문제2] 당뇨병에 걸린 사람(Diagnosis==1)의 남녀 비율은 어떻게 되나요? 평균 연령은 어떻게 되나요?
- 당뇨병에 걸리지 않은 사람들은 총 몇명인가요?
- 당뇨병에 걸리지 않은 남녀 비율은 어떻게 되나요?

In [102]:


D_d_people = data[data['Diagnosis']==1]
D_nd_people = data[data['Diagnosis']==0]

Sum_diag_people = len(D_d_people)
print("당뇨에 걸린이들 숫자 " + str(Sum_diag_people))

Sum_nodiag_people = len(D_nd_people)
print("당뇨에 안 걸린이들 숫자 " + str(Sum_nodiag_people))

Mean_D_p_Age = np.mean(D_d_people['Age'])
print("당뇨 걸린이들 평균 연령 " + str(Mean_D_p_Age))

D_d_man = data[(data['Diagnosis']==1) & (data['Gender']=="M")]

D_d_woman = data[(data['Diagnosis']==1) & (data['Gender']=="F")]

Sum_diag_man = len(D_d_man)
print("당뇨 남자 숫자 " + str(Sum_diag_man))

Sum_diag_woman = len(D_d_woman)
print("당뇨 여자 숫자 " + str(Sum_diag_woman))

print("당뇨 남자 비율 " + str(Sum_diag_man / Sum_diag_people * 100) + "%")
print("당뇨 여자 비율 " + str(Sum_diag_woman / Sum_diag_people * 100) + "%")

D_nd_man = data[(data['Diagnosis']==0) & (data['Gender']=="M")]
Sum_nd_man = len(D_nd_man)
D_nd_woman = data[(data['Diagnosis']==0) & (data['Gender']=="F")]
Sum_nd_woman = len(D_nd_woman)

print("안당뇨 남자 비율 " + str(Sum_nd_man / Sum_nodiag_people * 100) + "%")
print("안당뇨 여자 비율 " + str(Sum_nd_woman / Sum_nodiag_people * 100) + "%")




Mean_D_M_Age = np.mean(D_d_man['Age'])
Mean_D_F_Age = np.mean(D_d_woman['Age'])
print("당뇨 남자 평균 연령 " + str(Mean_D_M_Age))
print("당뇨 여자 평균 연령 " + str(Mean_D_F_Age))

당뇨에 걸린이들 숫자 1993
당뇨에 안 걸린이들 숫자 3139
당뇨 걸린이들 평균 연령 58.19819367787255
당뇨 남자 숫자 1235
당뇨 여자 숫자 757
당뇨 남자 비율 61.966884094330155%
당뇨 여자 비율 37.982940291018565%
안당뇨 남자 비율 64.38356164383562%
안당뇨 여자 비율 35.61643835616438%
당뇨 남자 평균 연령 58.067206477732796
당뇨 여자 평균 연령 58.41611624834874

[문제3] 당뇨병에 걸린 사람들의 혈액검사 수치 결과와 당뇨병에 걸리지 않은 사람들의 혈액검사 수치 결과는 어떻게 다른가요? 
(자유분석)
- 예) 당뇨병에 걸린 사람들의 콜레스테롤 수치가 당뇨병을 걸리지 않은 사람들의 콜레스테롤 수치보다 *** 이상 높다.

In [110]:
Mean_d_HDL = np.mean(D_d_people['HDL'])
Mean_d_LDL = np.mean(D_d_people['LDL'])
print("당뇨자 HDL " + str(Mean_d_HDL))
print("당뇨자 LDL " + str(Mean_d_LDL))

Mean_nd_HDL = np.mean(D_nd_people['HDL'])
Mean_nd_LDL = np.mean(D_nd_people['LDL'])
print("안 당뇨자 HDL " + str(Mean_nd_HDL))
print("안 당뇨자 LDL " + str(Mean_nd_LDL))

print("당뇨자들은 HDL과 LDL이 당뇨자보다 모두 높다")

당뇨자 HDL 1.9968788173607492
당뇨자 LDL 3.187675204214739
안 당뇨자 HDL 1.3370691302962727
안 당뇨자 LDL 2.740436444727615
당뇨자들은 HDL과 LDL이 당뇨자보다 모두 높다